*{
	text-decoration: none;
}
#wrap{
	color:black; text-decoration: none; font-weight: bolder; width:1000px; margin: 0 auto; background:white;
}
.header{width:1000px; height:86px; }
.menu{color:#000000; text-decoration: none; font-weight: bolder; width:1000px; height:78px; font-size:35px;background:white; font-family: Times New Roman;}
.leftside{width:255px; height:790px;float:left;background:white; }
.main{
	position:relative;

    float:center;
	height:790px;
	width:745px;
	margin-left:250px;
	background: url('purple square.png') repeat-x;
	
	}
.footer{width:1000px;

 height:90px;
 background:url('images.jfif') no-repeat center;
 background-size: 95px 96px; 

}
.logo{margin: 0 0 0 0;}

#list{
	
	width:200px;
	height:98px;	
	background:url('suka.png') repeat-x;
	align:right;
	padding-left:20px;
	padding-bottom:43px;
	padding-top:25px;
	padding-right:26px;
margin: 0 0 0 0;
	
	}
.leftside {background: url('about uss.png') no-repeat; }	
#img { margin: 32 311 0 0; padding-left: 32px; }
#tab { font-size: 40px; font-family: Franklin Gothic Demi; margin-top: 142px; background-color:#f056d7;}
#ban { margin: 30 0 0 0; font-size: 26px; padding-left: 30px; padding-top: -10px; text-decoration: underline; font-family: Franklin Gothic Demi;       }
#nyash { width: 225px; height: 179px; }
#prey { font-weight:bold;
         margin-left: 160px;
 		 margin-top: 18px;
		 padding-left:0px; 
		 padding-top: 18px; 
		 font-size: 22px;
        height:223px;
		 }
#pook {text-align: right; font-size: 19px; margin-top: 30px; padding-top: 30px;}
#hook {font-size:19px; }
#mech {width:70px; height:94px; margin-left:17px; padding-left:17px;}
#people {margin-left:255px; height:167px; width:755px; background:url('загружено.png') no-repeat center;}
#unb { font-size:17px; }
#eagle{padding-left:10px; }
#line {margin:0 auto;}
#line li {
	display:inline-block; 
}
#prima {width:70px; height:94px;}
#rob {font-size:17px;}
#podval{font-size:16px;

font-weight:bolder;
	position:relative;
float:bottom;
}
#search {text-align: right;}
#buy {color: white; background-color:grey;font-size: 14px; border: 2px solid black; width:740px; height: 500px;
overflow:scroll;float:left; position:relative; top:0px; padding-top:2px;
 }
.lil{ font-size:12px;  }
#dog {
	width:300px;
	height:300px;
	overflow:auto;
	border:5px solid red;
	float:left;
	
	

}
#ship{
	text-align:center;
}
#nemesis{
	position:relative;
	float:left;
}

}
#nemesis{
	font-size:20px;
	text-align:center;
	
}
#nemesisimg{
	width:200%;
	height:200%;
}
#char1 {
	width:500px;
	height:250px;
	overflow:auto;
	border:2px solid black;
	float:center;
	position:relative;
	margin-top:200px;
	background:url('phon.jpg');
	color: white;
}
#pr {
	font-size:20px;
	color:red;
}
#strike{
	text-decoration:em;
}
